/*@font-face {
    font-family: "Andika";
    src: url("../libraries/Andika-Regular.ttf");
}*/
@import url("https://fonts.googleapis.com/css?family=Andika");
body{
    background:black;
    color:white;
    font-family: Andika, sans-serif;
}
textarea{
    font-family: Andika, monospace;
    color:white;
    background:none;
    padding:10px;
    border:none;
}
textarea#question{
    text-align: right;
    margin-top:20px;
}
h1,h2{
    margin:0;
}
